@import 'tailwindcss';

@layer base {
  html {
    font-size: 12px; /* toutes les unités rem vont suivre */
    font-family: 'Parkinsans', sans-serif;
  }

  body {
    font-family: 'Parkinsans', sans-serif;
  }
}

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}