@import 'tailwindcss';

@layer base {
  html {
    font-size: 12px; /* toutes les unités rem vont suivre */
  }
}

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}